
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
}

.links a{
    cursor: pointer;
    transition: 1s;
}

.links a:hover svg{
    fill: rgb(204, 163, 88);
}

.links svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    transition: .5s;
}

@media screen and (max-width: 320px) {
    
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 1024px) {
    
}
