
p{
    margin: 1rem 0;
    line-height: 1.5rem;
    font-weight: 500;
    color: #242932;
}

@media screen and (max-width: 320px) {
    
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 1024px) {
    
}
