<div class="container">
    
    <h1 data-aos="fade-up">About</h1>

    <div class="text" data-aos="fade-left">

        <div class="fondo"></div>

        <div class="content">
            <p class="charge"><img src="../../assets/images/info_2.svg" alt="">Profile</p>
            <div class="info">
                <div class="foto">
                    <img src="../../assets/images/foto2.jpeg" alt="">
                </div>
                <p class="h3">
                    Soy un estudiante de ingeniería de sistemas
                    con experiencia académica en desarrollo Frontend
                    y un enfoque especializado en la creación de interfaces web
                    atractivas y funcionales. Poseo conocimientos sólidos en HTML,
                    CSS y JavaScript, así como experiencia en el Framework Angular.
                    Mi objetivo es utilizar mis habilidades técnicas para diseñar
                    y desarrollar experiencias de usuario de alta calidad,
                    centrándome en la usabilidad y la eficiencia.
                </p>
            </div>
            <div class="div-icon">
                <div class="icon">
                    AJM
                </div>
                <h3>
                    aster
                </h3>
            </div>
        </div>

    </div>

</div>