
<div class="div-project">
    <div class="div-header-form">
        <h4>feb - may 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Web - Reserhab</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participe como desarrollador web en un proyecto enfocado 
				en la creación de una plataforma web para la reserva de habitaciones en 
				la ciudad de Valledupar en Colombia. Este proyecto fue desarrollado 
				principalmente en TypeScript usando el Framework de Angular para el 
				FrontEnd y el Framework de NestJs para el BackEnd. En cuanto al 
				diseño usamos la librería de Bootstrap y para la base de datos MySQL.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">NestJs</span>
            <span class="skill">MySQL</span>
            <span class="skill">Bootstrap</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href=""><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>jun - sept 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participe como desarrollador Python Freelance con estudiantes de 
                ingenieria de sistemas en un proyecto enfocado 
				en el desarrollo y estudio de algoritmos de inteligencia artificial. 
				Este proyecto consistia en desarrollar algoritmos de aprendizaje supervisado 
				basados en regla delta, como tambien en Backpropagation. Se desarrollo tambien
				un algoritmo sencillo que pretendia el reconocimiento optico de caracteres (ROC).
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Pandas</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>jun - sept 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participe como desarrollador Python Freelance con estudiantes de 
                ingenieria de sistemas en un proyecto enfocado 
				en el desarrollo y estudio de algoritmos de inteligencia artificial. 
				Este proyecto consistia en desarrollar algoritmos de aprendizaje supervisado 
				basados en regla delta, como tambien en Backpropagation. Se desarrollo tambien
				un algoritmo sencillo que pretendia el reconocimiento optico de caracteres (ROC).
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Pandas</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>nov 2022 - mar 2023</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Java/Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participe como desarrollador Java y Python Freelance con estudiantes de 
                ingenieria de sistemas en un proyecto enfocado 
				en el desarrollo y estudio de algoritmos de simulacion. 
				Este proyecto consistia en desarrollar algoritmos que simularan el  
				movimiento de un pendulo, el tiro parabolico, el funcionamiento de un motor de combustion
				y las transacciones de inversion en ciertas acciones de bolsa.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Java</span>
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>jun - oct 2023</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Web - Engineerds</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participe como desarrollador web en un proyecto enfocado 
				en la creación de un blog personal para la publicacion de contenido sobre
				ingenieria de software y programacion. Este proyecto fue desarrollado 
				principalmente en TypeScript usando el Framework de Angular para el 
				FrontEnd y el Framework de ExpressJs para el BackEnd. En cuanto a 
				la base de datos usamos PostgreSQL.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">ExpressJs</span>
            <span class="skill">PostgreSQL</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href=""><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>