

<div class="div-project">
    <div class="div-header">
        <h4>Ago 2024 – Feb 2025</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Backend - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador backend con estudiantes de ingeniería de sistemas en un proyecto enfocado en el desarrollo de una plataforma web para detección temprana, monitoreo continuo y coordinación entre padres, educadores y profesionales de la salud mental para mejorar el bienestar de estudiantes menores de 10 años. Este proyecto fue desarrollado utilizando en el entorno de desarrollo NodeJs, principalmente utilizando el framework ExpressJs para el desarrollo del back-end y el framework Angular para el front-end. En cuanto a la base de datos, PostgreSQL.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">ExpressJs</span>
            <span class="skill">NodeJs</span>
            <span class="skill">Angular</span>
            <span class="skill">PostgreSQL</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://app-healtest.onrender.com/"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/app-healtest"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/api-healtest"><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header">
        <h4>feb - may 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Backend - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador web en un proyecto enfocado en 
                la creación de una plataforma web para la reserva de habitaciones 
                en la ciudad de Valledupar, Colombia. Este proyecto fue desarrollado 
                principalmente en TypeScript, utilizando el framework Angular para 
                el front-end y el framework NestJS para el back-end. En cuanto al diseño, 
                usamos la librería Bootstrap y para la base de datos, MySQL.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">NodeJs</span>
            <span class="skill">NestJs</span>
            <span class="skill">Angular</span>
            <span class="skill">MySQL</span>
            <span class="skill">Bootstrap</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/ReserhabApp"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/ReserhabApi"><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header">
        <h4>jun - sept 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador Python freelance con estudiantes de 
                ingeniería de sistemas en un proyecto enfocado en el desarrollo y 
                estudio de algoritmos de inteligencia artificial. Este proyecto 
                consistía en desarrollar algoritmos de aprendizaje supervisado 
                basados en la regla delta, así como en backpropagation. 
                También se desarrolló un algoritmo sencillo que pretendía el 
                reconocimiento óptico de caracteres (OCR).
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Pandas</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header">
        <h4>nov 2022 - mar 2023</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Java/Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador Java y Python freelance con estudiantes 
                de ingeniería de sistemas en un proyecto enfocado en el desarrollo y 
                estudio de algoritmos de simulación. Este proyecto consistió en 
                desarrollar algoritmos que simularan el movimiento de un péndulo, 
                el tiro parabólico, el funcionamiento de un motor de combustión, 
                y las transacciones de inversión en ciertas acciones de bolsa.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Java</span>
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

