
<div class="div-project">
    <div class="div-header-form">
        <h4>feb - may 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Web - Reserhab</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador web en un proyecto enfocado en 
                la creación de una plataforma web para la reserva de habitaciones 
                en la ciudad de Valledupar, Colombia. Este proyecto fue desarrollado 
                principalmente en TypeScript, utilizando el framework Angular para 
                el front-end y el framework NestJS para el back-end. En cuanto al diseño, 
                usamos la librería Bootstrap y para la base de datos, MySQL.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">NestJs</span>
            <span class="skill">MySQL</span>
            <span class="skill">Bootstrap</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href=""><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>jun - sept 2022</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador Python freelance con estudiantes de 
                ingeniería de sistemas en un proyecto enfocado en el desarrollo y 
                estudio de algoritmos de inteligencia artificial. Este proyecto 
                consistía en desarrollar algoritmos de aprendizaje supervisado 
                basados en la regla delta, así como en backpropagation. 
                También se desarrolló un algoritmo sencillo que pretendía el 
                reconocimiento óptico de caracteres (OCR).
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Pandas</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>nov 2022 - mar 2023</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Java/Python - Freelance</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador Java y Python freelance con estudiantes 
                de ingeniería de sistemas en un proyecto enfocado en el desarrollo y 
                estudio de algoritmos de simulación. Este proyecto consistió en 
                desarrollar algoritmos que simularan el movimiento de un péndulo, 
                el tiro parabólico, el funcionamiento de un motor de combustión, 
                y las transacciones de inversión en ciertas acciones de bolsa.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Java</span>
            <span class="skill">Python</span>
            <span class="skill">Numpy</span>
            <span class="skill">Tkinter</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Code</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-header-form">
        <h4>jun - oct 2023</h4>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Desarrollador Web - Engineerds</h4>
        </div>
        <div class="div-text-body">
            <p>
                Participé como desarrollador web en un proyecto enfocado en la creación 
                de un blog personal para la publicación de contenido sobre ingeniería 
                de software y programación. Este proyecto fue desarrollado principalmente 
                en TypeScript, utilizando el framework Angular para el front-end y 
                el framework Express.js para el back-end. En cuanto a la base de datos, 
                utilizamos PostgreSQL.
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">ExpressJs</span>
            <span class="skill">PostgreSQL</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href=""><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href=""><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>