
<div class="container">

    <h1>Contact me</h1>

    <div class="contact-us-body" id="contact">
        <div class="fondo"></div>
        <div class="form-body">
            <div class="links">
                <a href="#" class="text contacts" class="">
                    <img src="../../assets/images/wp.svg" class="icon" alt="">
                </a>
                <a href="#" class="text contacts">
                    <img src="../../assets/images/git.svg" class="icon" alt="">
                </a>
                <a href="#" class="text contacts">
                    <img src="../../assets/images/in.svg" class="icon" alt="">
                </a>
                <a href="#" class="text contacts">
                    <img src="../../assets/images/lkn.svg" class="icon" alt="">
                </a>
            </div>
            <form>
                <div class="input-group">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Name">
                </div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>