
<form [formGroup]="data" class="page">
    <div class="div-header-form">
        <h4>Contáctame</h4>
    </div>
    
    <div class="div-data">
        <input class="input" type="email" name="Correo" id="" required placeholder="Correo electrónico" formControlName="email">
        <input class="input" type="text" name="Asunto" id="" required placeholder="Asunto" formControlName="subject">
        <textarea class="input" name="mensaje" id="msg" placeholder="Mensaje" formControlName="message"></textarea>
        <hr class="hr">
    </div>

    <div class="group-button">
        <div class="div-btn div-btn-next">
            <input type="button" id="btnNext" class="btn-next" value="Enviar" (click)="sendEmail()">
        </div>
    </div>
</form>