
ul{
    color: white;
    width: 25rem;
    list-style-type: none;
}

ul li{
    list-style: none;
    margin: 1rem 0;
}

ul li a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    background: transparent;
    margin: 0 .5rem;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
}

ul li a hr{
    width: 3rem;
    height: 0;
    margin-right: 1rem;
    border: .01rem solid white;
    transition: .5s;
}

ul li .active{
    color: #cca358;
}

ul li .active hr{
    border: .01rem solid rgb(204, 163, 88);
    width: 10rem;
}

ul li a:hover{
    color: rgb(204, 163, 88);
}

ul li a:hover hr{
    border: .01rem solid rgb(204, 163, 88);
    width: 10rem;
}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 480px) {

    ul li a {
        justify-content: center;
    }
    
    ul li a hr{
        display: none;
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 1024px) {
    
    ul li a {
        justify-content: center;
    }
    
    ul li a hr{
        display: none;
    }

}
