.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    padding: 0;
    margin: 0;
    background: black;
    filter: opacity(80%);
    min-width: 100vw;
}

.pages {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
    background: transparent;
}

.icon{
    display: none;
}

.ul{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 5rem;
    padding: 1rem;
    border: .1rem solid rgb(10, 85, 97);
}

.li{
    list-style: none;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    background: transparent;
    margin: 0 .5rem;
}

a:hover {
    color: green;
}

.active{
    color: rgb(35, 202, 35);
}

.setting {
    width: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
    background: transparent;
}

.setting a {
    margin-right: 2rem;
}

.show{
    display: block;
}

.show-submenu{
    display: block;
}

@media (max-width: 1024px) {

    .nav {
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 1rem;
        padding-bottom: 0;
    }

    .pages {
        width: auto;
        justify-content: center;
        flex-direction: column;
    }

    .show{
        display: none;
    }

    .logo{
        width: 100%;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    h2 {
        font-size: 1.3rem;
        height: 2rem;
    }

    .icon{
        display: block;
        width: 2rem;
    }

    .setting {
        flex-direction: column;
        margin-top: .5rem;
        padding-top: 1rem;
    }
    
    .lang{
        display: none;
    }

    .setting a {
        margin: 0;
        margin-bottom: .6rem;
    }

    a{
        margin-bottom: .6rem;
    }

    .ul{
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        top: -1rem;
        border: none;
    }

    .show-submenu{
        display: flex;
    }

}

@media (max-width: 960px) {

    .nav{
        margin: 0;
    }
    
}

@media (max-width: 768px) {

    .nav{
        margin: 0;
    }
    
}

@media (max-width: 480px) {

    .nav{
        margin: 0;
    }
    
}

@media (max-width: 320px) {

    .nav{
        margin: 0;
    }
    
}