
<div class="div-project">
    <div class="div-project-image">
        <div class="div-img div-img-1"></div>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>CoffeeApp</h4>
        </div>
        <div class="div-text-body">
            <p>
                {{"coffeeapp-description" | translate}}
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">Django</span>
            <span class="skill">MySQL</span>
            <span class="skill">Pandas</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://ajmaestre.github.io/CoffeeApp/"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/CoffeeApp"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/CoffeeApi"><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-project-image">
        <div class="div-img div-img-2"></div>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Portfolio</h4>
        </div>
        <div class="div-text-body">
            <p>
                {{"portfolioapp-description" | translate}}
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">ExpressJs</span>
            <span class="skill">PostgreSQL</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://ajmaestre.github.io/portfolio"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/portfolio"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/PortfolioApi"><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-project-image">
        <div class="div-img div-img-3"></div>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>TravelWebsite</h4>
        </div>
        <div class="div-text-body">
            <p>
                {{"travelapp-description" | translate}}
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">Laravel</span>
            <span class="skill">MySQL</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://ajmaestre.github.io/TravelWebsite/"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/TravelWebsite"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-project-image">
        <div class="div-img div-img-4"></div>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>NominaUPC</h4>
        </div>
        <div class="div-text-body">
            <p>
                {{"nominaapp-description" | translate}}
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">HTML</span>
            <span class="skill">SASS</span>
            <span class="skill">JQuery</span>
            <span class="skill">Bootstrap</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://ajmaestre.github.io/index/"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/index"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-project-image">
        <div class="div-img div-img-5"></div>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>FrontendWebsite</h4>
        </div>
        <div class="div-text-body">
            <p>
                {{"frontendapp-description" | translate}}
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">Angular</span>
            <span class="skill">PHP</span>
            <span class="skill">PostgreSQL</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://ajmaestre.github.io/FrontendWebsite/"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/FrontendWebsite"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>

<div class="div-project">
    <div class="div-project-image">
        <div class="div-img div-img-6"></div>
    </div>
    <div class="body">
        <div class="div-header-form">
            <h4>Restry</h4>
        </div>
        <div class="div-text-body">
            <p>
                {{"restryapp-description" | translate}}
            </p>
        </div>
        <div class="div-skills">
            <span class="skill">HTML</span>
            <span class="skill">SASS</span>
            <span class="skill">JQuery</span>
        </div>
    </div>
    <div class="menu show">
        <a target="_blank" href="https://restry.onrender.com/"><span class="skill skill-site">Sitio</span></a>
        <a target="_blank" href="https://github.com/ajmaestre/Restry"><span class="skill skill-front">Front</span></a>
        <a target="_blank" href=""><span class="skill skill-back">Back</span></a>
    </div>
</div>

