<div class="container">

    <h1 data-aos="fade-up">{{"title-project" | translate}}</h1>

    <div class="cards">

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="cofee-app">
                    <app-conect class="svg"></app-conect>
                    <div class="labels">
                        <span class="label">Angular</span>
                        <span class="label">Django</span>
                        <span class="label">MySQL</span>
                        <span class="label">Pandas</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">CoffeeApp</p>
                    <p class="text">
                        {{"coffeeapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/ajmaestre/CoffeeApp" target="_blank"
                        class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="https://ajmaestre.github.io/CoffeeApp/" target="_blank" class="text contacts tooltip link-gp">
                        <span class="tooltiptext">GitHub Pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="frontend-website">
                    <app-movile class="svg"></app-movile>
                    <div class="labels">
                        <span class="label">Angular</span>
                        <span class="label">PHP</span>
                        <span class="label">PostgreSQL</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">FrontendWebsite</p>
                    <p class="text">
                        {{"frontendapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/ajmaestre/FrontendWebsite" target="_blank" class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="https://ajmaestre.github.io/FrontendWebsite/" target="_blank" class="text contacts tooltip  link-gp">
                        <span class="tooltiptext">GitHub Pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="nomina-upc">
                    <app-cloud class="svg"></app-cloud>
                    <div class="labels">
                        <span class="label">HTML</span>
                        <span class="label">SASS</span>
                        <span class="label">JQuery</span>
                        <span class="label">Bootstrap</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">NominaUPC</p>
                    <p class="text">
                        {{"nominaapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/ajmaestre/index" target="_blank" class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="https://ajmaestre.github.io/index/" target="_blank" class="text contacts tooltip link-gp">
                        <span class="tooltiptext">GitHub Pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="travel-website">
                    <app-desktop class="svg icon"></app-desktop>
                    <div class="labels">
                        <span class="label">Angular</span>
                        <span class="label">Laravel</span>
                        <span class="label">MySQL</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">TravelWebsite</p>
                    <p class="text">
                        {{"travelapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/ajmaestre/TravelWebsite" target="_blank" class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="https://ajmaestre.github.io/TravelWebsite/" target="_blank" class="text contacts tooltip link-gp">
                        <span class="tooltiptext">GitHub Pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="restry">
                    <app-world class="svg icon"></app-world>
                    <div class="labels">
                        <span class="label">HTML</span>
                        <span class="label">SASS</span>
                        <span class="label">JQuery</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Restry</p>
                    <p class="text">
                        {{"restryapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/ajmaestre/Restry" target="_blank"
                        class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="https://restry.onrender.com/" target="_blank" class="text contacts tooltip link-gp">
                        <span class="tooltiptext">Render pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="reserhab">
                    <app-database class="svg icon"></app-database>
                    <div class="labels">
                        <span class="label">Angular</span>
                        <span class="label">Bootstrap</span>
                        <span class="label">NestJs</span>
                        <span class="label">MySQL</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Reserhab</p>
                    <p class="text">
                        {{"reserhabapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/angelguardian147/reserhab" target="_blank"
                        class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="#" target="_blank" class="text contacts tooltip link-gp">
                        <span class="tooltiptext">GitHub Pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img" id="portfolio">
                    <app-desktop class="svg icon"></app-desktop>
                    <div class="labels">
                        <span class="label">Angular</span>
                        <span class="label">ExpressJs</span>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Portfolio</p>
                    <p class="text">
                        {{"portfolioapp-description" | translate}}
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/ajmaestre/portfolio" target="_blank"
                        class="text contacts tooltip link-g">
                        <span class="tooltiptext">GitHub</span>
                        <app-github class="svg icon"></app-github>
                    </a>

                    <a href="https://ajmaestre.github.io/portfolio" target="_blank" class="text contacts tooltip link-gp">
                        <span class="tooltiptext">GitHub Pages</span>
                        <app-www class="svg icon"></app-www>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>