
<div class="container">

    <h1 data-aos="fade-up">Projects</h1>

    <div class="cards">

        <div class="card" data-aos="fade-right">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img">
                    <img src="../../assets/images/api-rest.svg" alt="Not found">
                </div>
                <div class="content">
                    <p class="title">CoffeeApp</p>
                    <p class="text">
                        Una aplicación web donde se aplica CRISP DM 
                        para el desarrollo de un modelo de predicción 
                        para la producción de café en Colombia. 
                    </p>
                </div>
            </div>
        </div>
        
        <div class="card" data-aos="fade-up">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img">
                    <img src="../../assets/images/database.svg" alt="Not found">
                </div>
                <div class="content">
                    <p class="title">Reserhab</p>
                    <p class="text">
                        Una plataforma web para la reserva de habitaciones 
                        en la ciudad de Valledupar en Colombia.
                    </p>
                </div>
            </div>
        </div>

        <div class="card" data-aos="fade-left">
            <div class="fondo"></div>
            <div class="body">
                <div class="div-img">
                    <img src="../../assets/images/cloud.svg" alt="Not found">
                </div>
                <div class="content">
                    <p class="title">NominaUPC</p>
                    <p class="text">
                        Una aplicación simple que permite simular la nómina 
                        de los docentes vinculados a la universidad Popular del Cesar.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>