
.div-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: .2rem;
    transition: .5s;
    cursor: pointer;
}

.div-skill:hover{
    background-color: rgb(204, 163, 88);
}

.div-skill:hover svg{
    fill: #242932;
}

.div-skill svg{
    fill: rgb(204, 163, 88);
    margin-bottom: .5rem;
    width: 3.5rem;
    height: 3.5rem;
}

.div-skill h4{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(204, 163, 88);
}

.div-skill:hover h4{
    color: #242932;
}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 480px) {

    .div-skill{
        margin: 1rem;
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 1024px) {
    
}
