/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #000000;
    border: none;
}

html{
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 320px) {

    .container{
        margin: 0;
        padding: 0;
    }
    
}

@media screen and (max-width: 480px) {

    .container{
        margin: 0;
        padding: 0;
    }
    
}

@media screen and (max-width: 768px) {

    .container{
        margin: 0;
        padding: 0;
    }
    
}

@media screen and (max-width: 960px) {

    .container{
        margin: 0;
        padding: 0;
    }
    
}

@media screen and (max-width: 1024px) {

    body{
        padding: 0;
        margin: 0;
    }
    
}



