<div class="div-container-nav">
  <div class="div-menu">
    <div class="logo">
      <a (click)="showMenu()" class="btn-menu">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="white" class="icon">
                <path
                    d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm12,31c0,0.6-0.4,1-1,1h-22c-0.6,0-1-0.4-1-1v-2c0-0.6 0.4-1 1-1h22c0.6,0 1,0.4 1,1v2zm0-8c0,0.6-0.4,1-1,1h-22c-0.6,0-1-0.4-1-1v-2c0-0.6 0.4-1 1-1h22c0.6,0 1,0.4 1,1v2zm0-8c0,0.6-0.4,1-1,1h-22c-0.6,0-1-0.4-1-1v-2c0-0.6 0.4-1 1-1h22c0.6,0 1,0.4 1,1v2z" />
        </svg>
      </a>
    </div>
    <div [class]="menu">
      <div class="div-header">
        <h2>Alexander Maestre</h2>
        <h4>Desarrollador Fullstack</h4>
      </div>
      <app-nav class="nav"></app-nav>
      <app-footer class="footer"></app-footer>
    </div>
  </div>
</div>

<div class="div-container-page">
  <div id="home" class="div-home page">
    <div class="div-header-form">
      <h2>Desarrollador Fullstack</h2>
    </div>
    <div class="div-header-form">
      <h4>Alexander Maestre</h4>
    </div>
    <div class="div-text-body">
      <p>
        {{ "resume-1" | translate }}
      </p>
      <p>
        {{ "resume-2" | translate }}
      </p>
    </div>
  </div>
  <app-experience id="experience" class="div-experience page"></app-experience>
  <app-work id="work" class="div-projects page"></app-work>
  <app-about id="about" class="div-about page"></app-about>
  <app-skill id="skill" class="div-skilles page"></app-skill>
  <app-contact id="contact" class="page"></app-contact>
</div>