
<div class="container">

    <div class="text" data-aos="fade-left">

        <div class="fondo"></div>

        <div class="content">
            <p class="charge"><img src="../../assets/images/info_2.svg" alt=""> Frontend developer</p>
            <div class="info">
                <h1>
                    Alexander Maestre
                </h1>
                <p class="h3">
                    Hi, I'm Alexander Maestre - a Frontend developer with 
                    with a specialized focus on creating attractive 
                    and functional web interfaces.
                </p>
            </div>
            <div class="div-icon">
                <div class="icon">
                    AJM
                </div>
                <h3>
                    aster
                </h3>
            </div>
        </div>

    </div>

</div>
